aiohttp
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
contourpy
cycler
fonttools
gradio
idna
kiwisolver
lxml
matplotlib
mkl-fft
mkl-random
mkl-service
numpy
packaging
pandas
Pillow
playwright
pyparsing
python-dateutil
pytz
requests
scipy
six
soupsieve
typing_extensions
urllib3
wsproto
opencv-python
